.area{
	display: flex;
}

.inputArea {
	width: 600px;
}

.outputArea {
	margin-left: 50px;
}

.taskHeader {
	display: flex;
	align-items: center;
}

.taskHeader span {
	margin: 0 30px;
}


.result {
	font-weight: bold;
	color: red;
}