.string textarea {
	width: 600px;
	height: 200px;
}

.resultString textarea {
	width: 600px;
	height: 200px;
}

.taskHeader {
	display: flex;
	align-items: center;
}

.taskHeader span {
	margin: 0 30px;
}